<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adityatiwari.android.vlocker">

    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.VLocker">
        <activity android:name=".Activity.LoginActivity"></activity>
        <activity
            android:name=".Activity.UpdatePersonalInfoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.InsertPersonalInfoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.UpdatePasswordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.InsertPasswordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.UpdateNoteActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.InsertNoteActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>